html {
    /* 1rem = 10px */
    font-size: 62.5%;
    
  }
  body {
    font-size: 1.6rem;
    background-color:rgb(211, 208, 208);
    font-family: 'Montserrat', sans-serif !important;
  }

  .formularioIngreso{
    border-radius: 2rem;
    width: 100%;
  }

  @media (min-width: 768px) {
    .formularioIngreso{
      width: 70%;
    }
  }

  /* bg-danger rounded-3 mt-3 fw-bold text-white text-center fs-5 */
  .error {
    background-color: #f44336;
    border-radius: 5px;
    margin-top: 1rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
  }

  .success {
    background-color: #40ff00;
    border-radius: 5px;
    margin-top: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.2rem;
  }

  .contenedor-user{
    background-color: #fff;
    border-radius: 5px;
    margin-top: 1rem;
    color: rgb(0, 0, 0);
    width: 250px;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.45);
    margin-bottom: 2rem;
    font-size: 11px;
  }


  .divLista{
    height: 100vh;
    overflow-y: scroll;
  }
/* 
  .divLista::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  .divLista::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }

  .divLista::-webkit-scrollbar-thumb {
    background-color: #888; 
  }

  .divLista::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }

  .divLista::-webkit-scrollbar-thumb:active {
    background-color: #555; 
  } */




  #listado {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    #listado {
      flex-direction: column;
      gap: 0rem;
    }
  }
    



  
